html,
body {
  margin: 0;
  padding: 0;
  background-color: light-dark(#fff, #000);
}

body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

@media (prefers-color-scheme: dark) {
  body {
    filter: brightness(0.8);
  }
}
